body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, section, textarea * {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body, select, input, textarea {
  font-family: "Roboto", sans-serif;
}

button, input {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  appearance: none;
  border: none;
  outline: none;
}

button, input[type="submit"] {
  cursor: pointer;
}

select {
  appearance: none;
  border: none;
  outline: none;
}

::selection {
  background-color: #FFFF7D;
  color: #000;
}

.invalid-message {
  color: rgb(255, 85, 85);
  font-size: calc(var(--font-size-content) - 3px);
  margin-left: 5px;
}