:root {
  --font-size-h1: 53px;
  --font-size-h2: 30px;
  --font-size-btn: 1rem;

  --radius-btn: 35px;
}

/* ---------- TAG SELECTOR ---------- */
html {
  font-size: 16px;
}

button {
  width: 199px;
  height: 36px;
}

/* ---------- /TAG SELECTOR ---------- */


/* ---------- CLASS SELECTOR ---------- */
.section-up {
  margin-top: 10%
}

.success {
  width: 50%;
  height: 50%;
  padding-top: 56px;
  flex-shrink: 0;
}

.section-down {
  box-sizing: border-box;
  width: 100%;
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
}

.section-down .text {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section-down .btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text h1 {
  text-align: center;
  width: 100%;
}

.text h2 {
  font-size: 1.5rem;
  margin-top: 25px;
  line-height: normal;
  text-align: center;
}

.btn button {
  margin-top: 36px;
  font-size: 22px;
}

/* ---------- /CLASS SELECTOR ---------- */


/* TABLET */
@media (min-width: 768px) and (max-width: 1199px) {

  .success {
    width: 33%;
    padding-top: 42px;
  }

}

/* DESKTOP */
@media (min-width: 1200px) {
  :root {
    --font-size-h1: 111px;
    --font-size-h2: 39px;
  }

  html {
    font-size: 26px;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    padding: 51px 84px 48px 212px;
    margin: auto;
  }

  .section-up {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0
  }

  .success {
    width: 40%;
    height: 100%;
    padding: 0px;
    flex-shrink: 0;
  }

  .section-down {
    width: 100%;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .text {
    box-sizing: border-box;
    width: 100%;
  }

  .text h1 {
    box-sizing: border-box;
    width: 100%;
    height: 106px;
  }

  .text h2 {
    font-size: 29px;
    margin-top: 44px;
    line-height: normal;
  }

  .btn button {
    width: 50%;
    height: 40px;
    margin-top: 66px;
    border-radius: 35px;
    font-size: 28px;
  }
}