:root {
  --font-size-h1: 53px;
  --font-size-h2: 30px;
  --font-size-h3: 1rem;
  --font-size-btn: 1rem;
  --font-size-content: 1rem;

  --font-weight-title: 700;
  --font-weight-content: 400;

  --color-text: #000000;
  --color-btn-text: #fff;
  --color-btn-text-hover: #000;
  --color-btn-hover: #FFFF7D;
  --color-primary: rgb(62, 178, 94);
  --color-secundary: rgba(62, 178, 94, 0.3);
  --color-tertiary: rgba(0, 0, 0, 0.25);

  --radius-btn: 35px;
  --radius-toggle-options: 20px;
  --radius-text-area: 20px;
  --radius-select-box: 2px;

  --line-height-h2: normal;
  --line-height-h3: normal;
  --line-height-btn: normal;
  --line-height-content: 18.75px;
  --line-height-p: normal;

  --width-height-checkbox: 13.818px;
}

/* ---------- TAG SELECTOR ---------- */
html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-title);
  color: var(--color-text);
}

h1 {
  font-size: var(--font-size-h1);
  line-height: normal;
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

p {
  font-size: var(--font-size-content);
  font-weight: var(--font-weight-content);
  line-height: var(--line-height-p);
  color: var(--color-text)
}

button {
  font-size: var(--font-size-btn);
  font-weight: var(--font-weight-title);
  color: var(--color-btn-text);
  background-color: var(--color-primary);
  border-radius: var(--radius-btn);
  width: 29.5833vw;
  height: 26px;
  transition: all .2s ease;
}

button:hover {
  background-color: var(--color-btn-hover);
  color: var(--color-btn-text-hover);
  transition: all .2s ease;
}

textarea {
  box-sizing: border-box;
  resize: none;
  width: 278px;
  height: 131px;
  overflow: hidden;
  overflow-y: scroll;
  background-color: transparent;
  border: 1px solid var(--color-tertiary);
  border-radius: 20px;
  padding: 16px;
  font-size: 14px;
  font-weight: var(--font-weight-content);
}

textarea:focus {
  outline: none;
  border: 1px solid var(--color-primary);
}

label {
  font-size: var(--font-size-content);
  color: var(--color-text);
  line-height: var(--line-height-content);
}

input {
  background-color: transparent;
  border: 1px solid var(--color-tertiary);
}

/* ---------- /TAG SELECTOR ---------- */


/* ---------- CLASS SELECTOR ---------- */
.main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

 .section-up {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
 }

 .img4 {
  width: 75%;
  height: 45.2631%;
  padding-top: 61px;
  flex-shrink: 0;
} 

.section-down {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 23px 20vw 23px 18vw;
}

.section-down .text-box {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-right: 2vw;
  padding-left: 5px;
}

.section-down .text-box h3 {
  padding-right: 10px;
}

.section-down .text-box #text-area {
  position: relative;
  right: 5px;
  margin-top: 12px;
}

.section-down .btn-box {
  position: relative;
  right: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  gap: 10px;
}

.section-down .btn-box button:nth-child(-n+2) {
  width: 47%;
}

.section-down .btn-box .skip {
  width: 100%;
}

.text-box h2 {
  font-size: var(--font-size-h2);
  margin-top: 27.88px;
  line-height: normal;
  text-align: center;
}

/* ---------- /CLASS SELECTOR ---------- */


/* TABLET */
@media (min-width: 768px) and (max-width: 1199px) {

  html {
    font-size: 20px;
  }

  .img4 {
    position: relative;
    right: 8vw;
    width: 50%;
  } 

  .section-down .btn-box button {
    height: 32px;
    font-size: 16px;
  }

  .section-down .text-box #text-area {
    width: 100%;
  }

}

/* DESKTOP */
@media (min-width: 1200px) {
  :root {
    --font-size-h3: 1rem;
    --font-size-content: 1rem;
    --font-size-btn: 22px;
    --width-height-checkbox: 26px;
  }

  html {
    font-size: 26px;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    padding: 98px 32px 134px 80px;
    margin: auto;
  }

  .section-up {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
   }

   .img4 {
    width: 100%;
    height: 100%;
    padding: 0px;
    flex-shrink: 0;
  }

  .section-down {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 13.5vh 0 0 80px;
  }

  .section-down .text-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 35px 62px 0px;
  }

  .section-down .text-box #text-area {
    width: 100%;
    height: 225px;
    margin-top: 24px;
    padding: 18px;
    font-size: 18px;
  }

  .section-down .btn-box {
    width: 82%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    gap: 2vh;
  }

  .section-down .btn-box button {
    width: 199px;
    height: 36px;
  }
}