<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/success.css">
</head>

<body>
  <main class="main">
    <section class="section-up">
      <img src="/assets/svg/success.svg" class="success" alt="Ícone de sucesso">
    </section>
    <section class="section-down">
      <div class="text">
        <h1>Success</h1>
        <h2>Thanks for participating in the poll</h2>
      </div>
      <div class="btn">
        <button onclick="success()">Restart</button>
      </div>
    </section>
  </main>
  <script src="../js/success.js"></script>
</body>

</html>