<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela 2</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/tela2.css">
</head>

<body>
  <main class="main">
    <section class="section-up">
      <img src="/assets/svg/boneco-pensativo.svg" class="img2" alt="Homem pensativo">
    </section>
    <section class="section-down">
      <div class="text-box">
        <h2>Necessities of working in financial markets</h2>
        <p>This research is to find the reasons for the failure of people in financial markets. The results of this
          survey will be emailed to you along with the analysis of our experienced experts.</p>
      </div>
      <div class="btn-box">
        <button onclick="previousScreen()">Back to Home</button>
        <button onclick="nextScreen(this)">Fill out the form</button>
      </div>
    </section>
  </main>
  <script src="../js/functions.js"></script>
</body>

</html>