<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/tela4.css">
</head>

<body>
  <main class="main">
    <section class="section-up">
      <img src="/assets/svg/boneco-laptop2.svg" class="img3" alt="Boneco no laptop">
    </section>
    <section class="section-down">
      <div class="text-header">
        <h3>How do you decide to invest?</h3>
        <select name="dropdown" id="dropdown">
          <option value="dropdown-option1">I have not invest yet.</option>
          <option value="dropdown-option2">I have an investment done.</option>
          <option value="dropdown-option3">I'm searching for a investment.</option>
        </select>
      </div>
      <div class="text-box">
        <h3>What resources have you used or are you using for your training?</h3>
        <div class="checkbox-box">
          <label for="checkbox-option1">
            <input type="checkbox" id="checkbox-option1" name="option1" value="Books and articles">
            Books and articles
          </label>

          <label for="checkbox-option2">
            <input type="checkbox" id="checkbox-option2" name="option2" value="YouTube tutorial videos">
            YouTube tutorial videos
          </label>

          <label for="checkbox-option3">
            <input type="checkbox" id="checkbox-option3" name="option3" value="online or face to face courses">
            online or face to face courses
          </label>

          <label for="checkbox-option4">
            <input type="checkbox" id="checkbox-option4" name="option4" value="experience with little investment">
            experience with little investment
          </label>
        </div>
      </div>
      <div class="btn-box">
        <button>Back</button>
        <button>Next</button>
        <button class="skip">Skip</button>
      </div>
    </section>
  </main>
</body>

</html>