<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela 5</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/tela5.css">
</head>

<body>
  <main class="main">
    <section class="section-up">
      <img src="/assets/svg/boneco-laptop3.svg" class="img4" alt="Homem no laptop dando joinha">
    </section>
    <section class="section-down">
      <div class="text-box">
        <h3>If you or someone close to you has already made a loss on the investment, write down the details</h3>
        <textarea spellcheck="false" name="text-area" id="text-area" cols="50" rows="4"
          onkeydown="wordLength(event, this.value)"></textarea>
        <p id="word-length"></p>
        <p class="invalid-message" id="textarea-empty"></p>
      </div>
      <div class="btn-box">
        <button onclick="previousScreen()">Back</button>
        <button onclick="nextScreen(this)">Next</button>
        <button class="skip" onclick="nextScreen(this)">Skip</button>
      </div>
    </section>
  </main>
  <script src="../js/functions.js"></script>
</body>

</html>